/* Write your CSS here */
.bg-container {
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto;
}
.heading {
  color: #ffffff;
  font-style: italic;
}
.speedometer {
  width: 50%;
}
.description {
  color: #cbd5e1;
}
.speed {
  color: #ffffff;
  font-size: 24px;
}
.button-container {
  display: flex;
}
.accelerate {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}
.brake {
  background-color: transparent;
  color: #94a3b8;
  border: 1px solid #94a3b8;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 8px;
}
